body{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /*margin-bottom: 10%;*/
  margin: 0;
}

body > :not(header):not(footer){
  margin-left: 3%;
  margin-right: 3%;
}

body .content{
  padding-bottom: 100px ;  
}

body .pageContainer{
  position: relative;
  min-height: 100%;
}

.button{
  color: white;
  width: 40px;
  /* height: 10px; */
  background-color: rgb(107, 83, 170);
  padding: 10px;
  text-decoration: none;
  border-radius: 8%;
  font-size: 20px;
  margin-bottom: 2%;
}

.title{
  font-family: 'Philosopher', sans-serif;
  font-size: 200%;
}

header{
  margin-top: 0px;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(156, 133, 222);
  min-height: 80px;
  padding: 5px;
}

header .header-row{
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .log{
  padding: 1%;
}

a{
  text-decoration: none;
}

footer{
  min-height: 100px;
  background-color: rgb(171, 171, 171);
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 50vh 0 50vh rgb(171, 171, 171);
}

footer > a{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: auto;
  margin-top: auto;
}

footer a:link, a:visited{
  color:rgb(255, 255, 255);
}


form > div{
  padding: 10px;
}

.form{
  display: flex;
  flex-direction: column;
}

a:hover{
  color:rgb(216,216,216);
}
/*.button a:active*/

.requestsTable{
  margin: 2%;
}

.steps .circle{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: rgb(110, 65, 135);
  display: inline-block;
}

.steps .circle .circle-text{
  text-align: center;
  position: relative;
}