body{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /*margin-bottom: 10%;*/
  margin: 0;
}

body > :not(header):not(footer){
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 6%;
}

.button{
  color: white;
  width: 40px;
  /* height: 10px; */
  background-color: rgb(15, 15, 102);
  padding: 10px;
  text-decoration: none;
  border-radius: 8%;
  font-size: 20px;
  margin: 3%;
}

header{
  margin-top: 0px;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(30, 10, 102);
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

header > a{
  margin-right: 3%;
  margin-left: 2%;
  margin-top: auto;
  margin-bottom: auto;
}

a{
  text-decoration: none;
}

.title{
  font-family: 'Philosopher', sans-serif;
  font-size: 200%;
}

footer{
  position: fixed;
  height: 10%;
  background-color: rgb(30, 10, 102);
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer > a{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: auto;
  margin-top: auto;
}

footer a:link, a:visited{
  color:rgb(255, 255, 255);
}


form > div{
  padding: 10px;
}

.form{
  display: flex;
  flex-direction: column;
}

a:hover{
  color:rgb(216,216,216);
}
/*.button a:active*/

.requestsTable{
  margin: 2%;
}