body{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /*margin-bottom: 10%;*/
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body > :not(header):not(footer){
  margin-left: 3%;
  margin-right: 3%;
}

body .content{
  padding-top: 10px;
  padding-bottom: 20px ;  
}

body .pageContainer{
  position: relative;
  min-height: 100%;
}

a{
  text-decoration: none;
}

a:link, a:visited >{
  color:rgb(0, 0, 0);
}

a:hover{
  color: rgb(216,216,216);
}

button{
  color: white;
  background-color: rgb(96, 73, 153);
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 2%;
}

.button{
  color: white;
  width: 40px;
  line-height: 50px;
  background-color: rgb(96, 73, 153);
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 2%;
}

.title{
  font-family: 'Philosopher', sans-serif;
  font-size: 200%;
}

header{
  margin-top: 0px;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(110, 97, 148);
  min-height: 80px;
  padding: 5px;
}

header a:link{
  color:rgb(255, 255, 255);
}

header a:visited{
  color: rgb(255, 255, 255);
}

header a:hover{
  color:rgb(216,216,216);
}

header .header-row{
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .log{
  padding: 1%;
  width: 12%; 
  display: flex;
  justify-content: space-around;
}


footer{
  min-height: 80px;
  background-color: rgb(171, 171, 171);
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer a{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: auto;
  margin-top: auto;
}

footer a:link{
  color:rgb(255, 255, 255);
}

footer a:visited{
  color: rgb(255, 255, 255);
}

footer a:hover{
  color:rgb(216,216,216);
}

/*.button a:active*/

form > div{
  padding: 10px;
}


.form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
}


.requestsTable{
  margin: 2%;
}

.steps{
  display: flex;
  flex-direction: column;
}

.steps .step-number{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.steps .circle{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: rgb(145, 120, 174);
  display: inline-block;
  position: relative;
}

.steps .circle .circle-text{
  color: black;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 60px;
}

.steps .rectangle{
  min-height: 85px;
  width: 600px;
  background-color: rgb(212, 212, 212);
  margin-left: 20px;
  border-radius: 20px;
  word-break:normal;
  align-items: center;
  display: flex;
  align-items: center; /* align vertical */
}

.steps .rectangle .rectangle-text{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  padding: 20px;
}

.center{
  margin: 3%;
  text-align: center;
  justify-content: center;
}

.form-container{
  max-width: 400px;
  margin: 3%;
  padding: 1%;
  padding-bottom: 2%;
  border-style: solid;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
}

.special{
  font-size: 30px;
}

.small-text{
  margin-top: 15px;
  font-size: smaller;
}

.many-lines{
  font-size: 15px;
}

.error{
  color: red;
}

.question{
  font-size: 16px;
  font-weight: bold;
}

.answer{
  margin-left: 5px;
}
