{% extends "default.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Operations Overview:</h1>
<a class="button" href="{% url 'view requests' %}">View Requests</a>
<a class="button" href="{% url 'import data' %}">Import data</a>
<a class="button" href="{% url 'export data' %}">Export data</a>
<a class="button" href="{% url 'configure timeout' %}">Configure Timeout</a>
<a class="button" href="{% url 'request allowance' %}">Request Allowance</a>
<a class="button" href="{% url 'confirm clean' %}">Clean Data</a>

<div class="filler-med"></div>
{% endblock %}