{% extends "default.html" %}

{% block title %}About{% endblock %}

{% block content %}

<h3>Purpose:</h3>
<span>This website was developed to help students get in the class they want. </span>

<h3>Rules:</h3>
<span class="many-lines">
    <ol class="many-lines" >
        <li>
            You must confirm your request in (timeout).
            If you don't, then it will be longer valid and if you still want to change shifts you'll have to file for a new one. 
        </li>
        <br>
        <li>
            You are able to check your request status through a link. This link is sent shortly after you first confirm your request.
        </li>
        <br>
        <li>
            You can't have more than one request for the same uc at the same timeout. 
        </li>
        <br>
    </ol>

    Possible status: Not concluded, Request concluded, Accepted request  
</span>

{% endblock %}