<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap" rel="stylesheet">
    
    <title>Default layout</title>
</head>
<body>

    <header>
        <a href="/" class="title">Swapping</a>
        <a href="">Login</a>
    </header>
    
    <footer>
        <a href="{% url 'About us' %}">About</a>
        <a href="{% url 'FAQs' %}">FAQs</a>
        <a href="{% url 'Contacts' %}">Contacts</a>
    </footer>
    
</body>
</html>