{% extends "default.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div>
    <h1>Welcome!</h1>

    <p>
        Do you want to change classes with a friend?
        File for a request!
    </p>

    
    <h2>How it works?</h2>
    
    <div class="steps">
        <div class="step-number">
            <div class="circle">
                <div class="circle-text">
                    1
                </div>
            </div>
            <div class="rectangle">
                <div class="rectangle-text">
                    Find someone through your student group chats that wants to change classes with you!
                    
                </div>
            </div>
        </div>
        <div class="step-number">
            <div class="circle">
                <div class="circle-text">
                    2
                </div>
            </div>
            <div class="rectangle">
                <div class="rectangle-text">
                    File for a request.
                </div>
            </div>
        </div>
        <div class="step-number">
            <div class="circle">
                <div class="circle-text">
                    3
                </div>
            </div>
            <div class="rectangle">
                <div class="rectangle-text">
                    You will receive an email with a confirmation link.                     
                </div>
            </div>
        </div>
        <div class="step-number">
            <div class="circle">
                <div class="circle-text">
                    4
                </div>
            </div>
            <div class="rectangle">
                <div class="rectangle-text">
                    After you accept the request through the email link, your colleague is going to receive the same email with a confirmation link
                </div>
            </div>
        </div>
        <div class="step-number">
            <div class="circle">
                <div class="circle-text">
                    5
                </div>
            </div>
            <div class="rectangle">
                <div class="rectangle-text">
                    After both students accept the request, an administrator is going to export the new classes allocation to sigarra. 
                </div>
            </div>
        </div>
    </div>
    
    <a class="button" href="{% url 'make request' %}">Make a Request</a>
    
    <p>
        Check the <a href="{% url 'About' %}">about</a> section for more details.
    </p>
</div>


{% endblock %}