{% extends "default.html" %}

{% block title %}Request{% endblock %}

{% block content %}

{% if enabled %}

<form method="post">

    {% if message != None %}
    <p>
        <span class="error">REQUEST NOT COMPLETED:</span>
        {{ message }}
    </p>
    {% endif %}

    <div class="form">
        {% csrf_token %}
        {{ form }}
    </div>
    <div>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </div>
</form>

{% else %}

<h2>Requests aren't currently open.</h2>

{% endif %}

{% endblock %}