<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">

    <title>Request</title>
</head>
<body>

    <form method="post">

        <div class = "form">
            {% csrf_token %}
            {{ form }}
        </div>
        <div>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>

    </form>
    
</body>
</html>