<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">

    <title>Request</title>
</head>
<body>

    <form method="post">

        <div>
            <label for="nameField">Name: </label>
            <input type="text" id="nameField">
        </div>

        <div>
            <label for="email1">Your e-mail:</label>
            <input type="email" id="email1">
        </div>

        <div>
            <label for="email2">Your colleague's e-mail:</label>
            <input type="email" id="email2">
        </div>

        <div>
            <label for="course">Course:</label>
            <input type="text" id="course">
        </div>
        
        <div>
            <label for="classNo">Your class:</label>
            <input type="text" id="classNo">
        </div>

        <div>
            <label for="classNo">Your colleague's class:</label>
            <input type="text" id="classNo">
        </div>

        <div>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>
    </form>
    
</body>
</html>