<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">

    <title>Requests</title>
</head>
<body>

    {% include "default.html" %}

    <table>
        <th>
            <li>ID</li>
            <li></li>
        </th>
        {% for req in requests %}
            <ul>
                <li>{{ req.id }}</li>
                <li>{{ req.id }}</li>
                <li>{{ req.id }}</li>
                <li>{{ req.id }}</li>
                <li>{{ req.id }}</li>

            </ul>
        {% endfor %}
    </table>
    
</body>
</html>